@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Poppins:wght@500;600;700&display=swap');
:root{

    --primaryColor: rgb(241, 232, 228);
    --secondaryColor: rgb(226, 191, 178);
    --markerColor: rgb(209, 172, 161);
    --backColor: rgb(224, 171, 130);
    --footerColor: rgb(183, 181, 192);
    --textColor: rgb(150, 127, 120);
    --white: rgb(238, 238, 238);

    --primaryFont: 'Poppins', sans-serif;
    --secondaryFont: 'Kalam', cursive;

    --font-bold: 900;
    --font-semi-font: 700;
    --font-regular: 500;

    --bigger-font: 2.5rem;
    --big-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: 0.750rem;

}
*,::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primaryColor);
    font-size: var(--normal-font);
    font-family: var(--primaryFont);
    line-height: 1.5rem;
    color: var(--textColor);
}
a{
    text-decoration: none;
}
h1,h2,h3{
    text-transform: uppercase;
}
.container{
    max-width: 1020px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 auto;
}
.active{
    background-color: var(--markerColor);
    padding: .5rem 1rem;
}
.active_c::before{
    content: "";
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: var(--markerColor);
    top: 100%;
    left: 50%;

}
.section{
    padding: 5rem 0 4rem;
}
.section__title{
    font-family: var(--secondaryFont);
    line-height: 2.8rem;
    font-weight: var(--font-bold);
    font-size: var(--bigger-font);
}
.section__subtitle{
    font-family: var(--secondaryFont);
    font-weight: var(--font-semi-font);
    font-size: var(--big-font);
    padding-bottom: 2rem;
}
.grid{
    display: grid;
}
.flex_c{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------NAV------------- */
header{
    max-height: 4rem;
    margin-bottom: 2.7rem
}
.nav{
    text-align: center;
    background-color: var(--secondaryColor);
}
.nav__menu{
    border-top: 2px solid var(--markerColor);
}
.footer__list,
.nav__list{
    list-style: none;
    column-gap: 2rem;
    padding: 0.5rem;
}
.footer__link,
.nav__link{
    color: var(--white);
}
/* --------------HERO------------- */
.hero__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
}
.hero__image{
    background-image: url(../img/separator1.jpg);
    background-color: var(--markerColor);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.hero__img{
    padding: 50px;
    width: 100%;
    max-height: 450px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.hero__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section__title{
    margin-bottom: 1rem;
    text-align: center;
}
.lines::before{
    content: "";
    width: 100%;
    top: 38%;
    left: 0;
    position: absolute;
    height: .3rem;
    background-color: var(--textColor);
}
.lines::after{
    content: "";
    width: 100%;
    top: 50%;
    position: absolute;
    left: 0;
    height: .3rem;
    background-color: var(--textColor);
}

.rings__line::before{
    content: "";
    position: absolute;
    width: 75%;
    background-color: var(--markerColor);
    height: 0.2rem;
    top: 6.5%;
    right: 0;
}

.about__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
}
.about__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__data span{
    margin-bottom: 1rem;
}
.about__data .section__subtitle,
.about__drescription{
    margin-bottom: 4rem;
}
.collection__description,
.about__drescription{
    border-top: 1px solid var(--markerColor);
    border-bottom: 1px solid var(--markerColor);
    padding: 1rem 0;
}
.about__image{
    background-image: url(../img/about-b.jpg);
    border: 1px solid var(--markerColor);
}
.about__img{
    padding: 50px;
    width: 500px;
}

.btn__about{
    border: 1px solid var(--markerColor);
    padding: 1rem 1.5rem;
    text-align: center;
    width: 45%;
    color: var(--textColor);
}

.new__category{
    border-top: 1px solid var(--markerColor);
    border-bottom: 1px solid var(--markerColor);
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.new__category_t{
    padding-left: 2rem;
    padding-right: 2rem;
    border-right:  1px solid var(--markerColor);
    position: relative;
    cursor: pointer;
}
.btn__new{
    border:  1px solid var(--markerColor);
    padding: .5rem 1rem;
    text-align: center;
    color: var(--textColor);
    margin: .5rem;
}
.card__container,
.rings__container,
.popular__items,
.new__items{
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;
}
.card__item,
.rings__item,
.popular__item,
.new__item{
    border:  1px solid var(--markerColor);
    text-align: center;
    padding: .5rem 1rem ;
    border-radius: .5rem;
}
.card__drescription,
.popular__drescription,
.new__drescription{
    border-top: 1px solid var(--markerColor);
    border-bottom: 1px solid var(--markerColor);
    padding: .5rem;
    margin-bottom: .5rem;
}
.card__title,
.popular__title,
.collection__title,
.new__title{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
}
.collection__title{
    border-bottom: 1px solid var(--markerColor);
    padding-bottom: .5rem;
}
.card__img,
.rings__img,
.popular__img,
.collection__img,
.new__img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: fill;
    margin-bottom: 1rem;
}
.card__img,
.popular__img,
.collection__img{
    border: 1px solid var(--markerColor);
}
.more__container{
    text-align: center;
    background-image: url(../img/more.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem 0 8rem;
    color: var(--white);
}
.more__description{
    margin-bottom: 5rem;
}
.btn__more{
    border: 2px solid var(--white);
    border-radius: 50%;
    padding: 2rem 2rem;
    text-align: center;
    color: var(--white);
}
.separator__container{
    grid-template-columns: repeat(6, 1fr);
    column-gap: .5rem;
    place-items: center;
}
.separator__img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.footer{
    background-color: var(--footerColor);
    color: var(--white);
}
.footer__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
}
.footer__c{
    display: grid;
    place-content: center;
}
.footer__title,
.footer__location{
    margin-bottom: 1.5rem;
}
.footer__Social{
    display: flex;
    column-gap: 1rem;
}
.bx{
    font-size: var(--big-font);
}

.copy{
    padding: 2rem;
    text-align: center;
    border-top: 2px solid var(--white);
}
.category{
    border-bottom: 2px solid var(--markerColor);
    text-align: center;
}
.category__container .section__title,
.category__items{
    margin-bottom: 2rem;
}
.category__items{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    place-items: center;
}
.category__name:first-child{
    background-image: url(../img/category1.jpg);
    background-color: var(--markerColor);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 300px;
    padding: 5rem 0 5rem;
    text-align: center;
}
.category__name:nth-child(2){
    background-image: url(../img/category2.jpg);
    background-color: var(--markerColor);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 300px;
    padding: 5rem 0 5rem;
    text-align: center;
}
.category__name:nth-child(3){
    background-image: url(../img/category3.jpg);
    background-color: var(--markerColor);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 300px;
    padding: 5rem 0 5rem;
    text-align: center;
}
.category__btn{
    color: var(--white);
    padding: .5rem 1rem;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}
.category__icon{
    font-size: var(--big-font);
}
.collection__container{
    grid-template-columns: 550px 450px;
    column-gap: 2.5rem;
    border-top: 1px solid var(--markerColor);
}
.collection__description{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.collection__image{
    border: 1px solid var(--markerColor);
    background-image: url(../img/coll1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.collection__items{
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}
.collection__item{
    position: relative;
}
.collection__img{
    background-color: var(--secondaryColor);
    padding: 2rem 1rem;
}
.footer__icon:hover{
    color: var(--markerColor);
}
.s_info{
    position: absolute;
    background-color: var(--markerColor);
    padding: 1.5rem;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    left: -25%;
    top: -10%;
    color: var(--white);
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
.phrase{
    border-bottom:1px solid var(--markerColor) ;
}
.phrase__title{
    margin-bottom: 1rem;
}
.phrase__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    text-align: center;
    place-items: center;
}
.phrase__img{
    width: 500px;
}
.brands__container{
    column-gap: 1.5rem;
}
.brands__img{
    width: 200px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
}
.card{
    position: relative;
}
.earring__b__container,
.rings__b__container{
    text-align: center;
}
.rings__b{
    background-color: var(--markerColor);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 500px;
    place-content: center;
    place-items: center;
    color: var(--white);
}
.earring__b{
    background-color: var(--markerColor);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 500px;
    place-content: center;
    place-items: center;
    color: var(--white);
}
